<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RailwayPassengerLugggageBookingSystem</display-name>
  <welcome-file-list>
    <welcome-file>Loginpage.jsp</welcome-file>
   </welcome-file-list>
  <servlet>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.railwayluggagebooking.controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LuggageDetailsController</display-name>
    <servlet-name>LuggageDetailsController</servlet-name>
    <servlet-class>com.railwayluggagebooking.controllers.LuggageDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LuggageDetailsController</servlet-name>
    <url-pattern>/LuggageDetailsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerificationController</display-name>
    <servlet-name>VerificationController</servlet-name>
    <servlet-class>com.railwayluggagebooking.controllers.VerificationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerificationController</servlet-name>
    <url-pattern>/VerificationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VeiwPendingRequestsController</display-name>
    <servlet-name>VeiwPendingRequestsController</servlet-name>
    <servlet-class>com.railwayluggagebooking.controllers.VeiwPendingRequestsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VeiwPendingRequestsController</servlet-name>
    <url-pattern>/VeiwPendingRequestsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDetails</display-name>
    <servlet-name>ViewDetails</servlet-name>
    <servlet-class>com.railwayluggagebooking.controllers.ViewDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetails</servlet-name>
    <url-pattern>/ViewDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDetailsController</display-name>
    <servlet-name>ViewDetailsController</servlet-name>
    <servlet-class>com.railwayluggagebooking.controllers.ViewDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetailsController</servlet-name>
    <url-pattern>/ViewDetailsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrintReceiptController</display-name>
    <servlet-name>PrintReceiptController</servlet-name>
    <servlet-class>com.railwayluggagebooking.controllers.PrintReceiptController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintReceiptController</servlet-name>
    <url-pattern>/PrintReceiptController</url-pattern>
  </servlet-mapping>
</web-app>